<h1>All tweets you liked !</h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.content %> 
      <%= link_to "Delete",
            tweet_path(tweet),
            method: :delete, 
            remote: true %>
      <%= link_to "Like", like_tweet_path(tweet) %>
    </li>
  <% end %>
</ul>