<h1>All tweets for <span data-keywordid = <%= @keyword.id %>><%= @keyword.title %></span></h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Refresh", refresh_tweets_keyword_path(@keyword), id:"refresh-button"%>